IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;
IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;
IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;
IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;
IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;
IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "testpin" 30;
IO_PORT "testpin" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "tx" 17;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rx" 18;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC "flash_clk" 59;
IO_PORT "flash_clk" IO_TYPE=LVCMOS33;
IO_LOC "flash_miso" 62;
IO_PORT "flash_miso" IO_TYPE=LVCMOS33;
IO_LOC "flash_mosi" 61;
IO_PORT "flash_mosi" IO_TYPE=LVCMOS33;
IO_LOC "flash_cs" 60;
IO_PORT "flash_cs" IO_TYPE=LVCMOS33;


IO_LOC "lcd_data" 77;
IO_PORT "lcd_data" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_rs" 49;
IO_PORT "lcd_rs" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_cs" 48;
IO_PORT "lcd_cs" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_clk" 76;
IO_PORT "lcd_clk" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_resetn" 47;
IO_PORT "lcd_resetn" PULL_MODE=UP DRIVE=8;


// IO_LOC  "btn2" 4;
// IO_PORT "btn2" IO_TYPE=LVCMOS18;
